<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}">
    <link th:href="@{/css2/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
        html, body {
            font-family: 'Noto Sans KR';
            height: 100%;
            margin: 0;
        }
        .form-group {
            margin: 32px 0;
        }
        .container {
            padding: 3% 0;
        }
        .card {
            margin: 2%;
        }
        h1 {
            margin: 2% 0;
        }
        .center-container {
            /*display: flex;*/
            justify-content: center;
            align-items: center;
            /*height: 100vh;*/
        }
    </style>
    <script>
        function enableEditMode() {
            // 각 span 태그를 숨기고 input 또는 select 태그를 표시
            document.getElementById("display-playerName").style.display = "none";
            document.querySelector("input[name='playerName']").style.display = "inline";

            document.getElementById("display-leagueTeam").style.display = "none";
            document.querySelector("input[name='leagueTeamName']").style.display = "inline";

            document.getElementById("display-position").style.display = "none";
            document.querySelector("select[name='position']").style.display = "inline";

            document.getElementById("display-national").style.display = "none";
            document.querySelector("input[name='national']").style.display = "inline";

            // 수정 버튼 숨기기 및 저장 버튼 표시
            document.getElementById("editButton").style.display = "none";
            document.getElementById("saveButton").style.display = "inline";
        }
    </script>
</head>
    <body>
    <div  layout:fragment="content" class="center-container">
        <div class="container-fluid" style="margin: 1%">
            <h1>
                선수 상세조회
            </h1>


        </div>

            <div style="align-content: center">
                <div class="card" style="width: 50rem; height: 40rem" th:each="player : ${player}">
                  <div th:if="${player.playerImages.size() > 0}">
                        <img th:src="@{${player.playerImages.iterator().next().url}}" class="card-img">
                    </div>
                    <div th:if="${player.playerImages.size() == 0}">
                    </div>
                    <div class="d-flex justify-content-end gap-2 mb-3">
                        <form th:action="@{/admin/image/upload/{playerId}(playerId=${player.playerId})}" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="file" class="form-label">이미지 파일</label>
                                <input type="file" class="form-control" id="file" name="file" required>
                            </div>
                            <button type="submit" class="btn btn-primary">업로드</button>
                            <button class="btn btn-primary" type="button">삭제</button>
                        </form>
                    </div>
                    <form th:action="@{/admin/all-players/player/update}" method="POST" id="playerEditForm">
                        <input type="hidden" name="playerId" th:value="${player.playerId}" />
                        <ul class="list-group list-group-flush" >
                            <li class="list-group-item">
                                <label>선수이름</label>
                                <span id="display-playerName" th:text="${player.playerName}"></span>
                                <input type="text" name="playerName" th:value="${player.playerName}" style="display: none;" />
                            </li>
                            <li class="list-group-item">
                                <label>리그팀</label>
                                <span id="display-leagueTeam" th:text="${player.leagueTeam.leagueTeamName}"></span>
                                <input type="text" name="leagueTeamName" th:value="${player.leagueTeam.leagueTeamName}" style="display: none;" />
                            </li>
                            <li class="list-group-item">
                                <label>포지션</label>
                                <span id="display-position" th:text="${player.position}"></span>
                                <select name="position" style="display: none;">
                                    <option th:each="pos : ${positions}" th:value="${pos}" th:text="${pos}" th:selected="${pos == player.position}">
                                    </option>
                                </select>
                            </li>
                            <li class="list-group-item">
                                <label>국가</label>
                                <span id="display-national" th:text="${player.national}"></span>
                                <input type="text" name="national" th:value="${player.national}" style="display: none;" />
                            </li>
                        </ul>
                        <button type="button" id="editButton" onclick="enableEditMode()">수정</button>
                        <button type="submit" id="saveButton" style="display: none;">저장</button>
                    </form>

                </div>
            </div>

    </div>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    </body>
</html>
