<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/default_layout}">
    <body>
        <!-- Content -->
        <div layout:fragment="content">
            <div class="container-fluid">
                <h1 class="mt-4">Kick-Off Adimin</h1>
                <h4>축구 커뮤니티 kick-off 어드민페이지</h4>
                <p>
                    선수, 투표, 경기 추가 가능
                </p>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <!-- 선수 탭 내용 -->
                        내용 1
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <!-- 투표 탭 내용 -->
                        내용 2
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        <!-- 경기 탭 내용 -->
                        내용 3
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>