<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}">
    <link th:href="@{/css2/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
        html, body {
            font-family: 'Noto Sans KR';
        }
        .container {
            padding: 3% 0;
        }
        .form-group {
            margin: 32px 0;
        }
        .card {
            margin: 5% 0;
        }
        h1 {
            margin: 3% 0;
        }
    </style>
</head>
    <body>
    <div class="container" layout:fragment="content">

        <div class="container-fluid">
            <h1>
                선수조회
            </h1>

        </div>
        <div class="card">
            <div style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
    <!--                       <h5 class="card-title">Card title</h5>-->
                </div>
                <ul class="list-group list-group-flush">
                    <li th:each="player : ${player}">
                        <span th:text="${player.playerName}">Player Name</span>
                        <span th:text="${player.national}">National</span>
                        <span th:text="${player.leagueTeam.leagueTeamName}">League Team</span><span th:text="${player.position}">Position</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    </body>
</html>